#!/usr/bin/env bash
# shellcheck disable=SC1054,SC1056,SC1072,SC1073,SC1083
{{- if hasKey . "conda" }}
set -e

echo "Setup \`conda\`..."

# region Download & Install Miniforge #################################################
# shellcheck disable=SC1009,SC1036
{{- $releases := "https://github.com/conda-forge/miniforge/releases/latest/download" }}
{{- $script := printf "Miniforge3-%s-%s.sh" (title .os.id) .arch.id }}
echo "  - Installing MiniForge from {{ $script }}..."
curl -L -O {{ printf "%s/%s" $releases $script | quote }}
bash {{ $script }} -b -u -p {{ .conda.path }}
rm {{ $script }}
# endregion ###########################################################################

# region Activate `conda` #############################################################
export CONDA_ALWAYS_YES="true"
echo "  - Enabling \`conda\`..."
source {{ joinPath .conda.path "etc" "profile.d" "conda.sh" | quote }}
# endregion ###########################################################################

# region Install & Default to `libmamba` ##############################################
#! On `conda>=22.11`, we can now use `libmamba` as a solver!
#* Source: https://www.anaconda.com/blog/a-faster-conda-for-a-growing-community
echo "  - Configure the \`libmamba\` solver..."
#* https://conda.github.io/conda-libmamba-solver/getting-started/
#* Specifically, with `conda-libmamba-solver>=22.12`, it can now be used as a
#*   solver, rather than an experimental-solver! The release notes on
#*   `conda/conda-libmamba-solver` specify that the following needs to be done to
#*   ensure that the non-experimental solver is being used.
conda install -yq -n base --solver classic "conda>=22.11"
conda install -yq -n base --solver classic "conda-libmamba-solver>=22.12"
#* As a fallback, ensure that `libmamba` is globally set to `libmamba`
conda config --system --set solver "libmamba"
# endregion ###########################################################################

# region Add desirable packages to `base` #############################################
echo "- Installing base packages..."
{{- $baseEnv := joinPath .chezmoi.homeDir ".config" "conda" "env.yaml" }}
conda env update -q -n base -f {{ $baseEnv | quote }}
# endregion ###########################################################################

unset CONDA_ALWAYS_YES
# shellcheck disable=SC1009
{{- end -}}
