#!/usr/bin/env bash
echo "Running... \`manual-app-installer\`..."

echo "  - Installing \`SpaceVim\`"
quiet "curl -sLf https://spacevim.org/install.sh | bash"

echo "  - Installing \`brew\`"
[ -d ~/.local/opt/brew ] || mkdir -p ~/.local/opt/brew
url="https://github.com/homebrew/brew/tarball/master"
[ ! $(command -v brew) ] && curl -sL ${url} | tar xz --strip 1 -C ~/.local/opt/brew

#: Install alt-Emacs
ln -sf "{{ .appdir }}/chemacs/.emacs" "{{ .chezmoi.homeDir }}/.emacs"
