#!/usr/bin/env bash
# shellcheck disable=SC1036,SC1054,SC1056,SC1072,SC1073,SC1083,SC1127

# region Install trash-cli ####################################################
pipx install trash-cli
# endregion ###################################################################

# region Install my[py] #######################################################
pipx install mypy
# endregion ###################################################################

# region Install Pipenv #######################################################
pipx install pipenv
# endregion ###################################################################

{{/* Until Salt 3006 is released, `pipx install salt` will fail*/}}
# shellcheck disable=SC1009
{{- if and .homelab (ne .osarch "darwin-arm64") }}
# region Install SaltStack ####################################################
pipx install salt
pipx inject salt docker
# endregion ###################################################################
# shellcheck disable=SC1009
{{- end }}

# region Install Ansible ######################################################
pipx install ansible
pipx inject ansible docker
# endregion ###################################################################

# region Install pre-commit ###################################################
pipx install pre-commit --include-deps
pipx inject pre-commit identify
# endregion ###################################################################

# region Install JupyterLab ###################################################
pipx install "jupyterlab>=3" --include-deps

alias pxjlab="pipx inject jupyterlab"
# Jupyter-related tools
pxjlab "jupyterlab-lsp>=4"
pxjlab "nbformat>=5"
pxjlab "nbconvert>=7"
pxjlab "nbgrader>=0.8"
pxjlab "ipython>=8"

# Tools for Data Science
pxjlab "jax[cpu]>=0.4"
pxjlab "jaxlib>=0.4"
pxjlab "numpy>=1"
pxjlab "scipy>=1"
pxjlab "pandas>=1"
pxjlab "h5py>=1"  # HDF5 Library (from conda-forge: hdf5)
pxjlab "fastparquet>=2022"
pxjlab "pyarrow>=11"

# Parallelization
pxjlab "distributed>=2022"
pxjlab "dask>=2022"
pxjlab "dask-ml>=2022"

# Data Visualization
pxjlab "plotly>=5"
pxjlab "seaborn>=0.12"
pxjlab "matplotlib>=3"
pxjlab "bokeh>=3"
pxjlab "altair>=4"
# TODO: Keep track of `graph-tool`: https://graph-tool.skewed.de/
pxjlab "networkx>=3"

# Machine Learning & PPLs
# NOTE: Adding the PyTorch CPU to index URLs so the CPU version of PyTorch can install
pxjlab "torch>=2" --pip-args "--extra-index-url https://download.pytorch.org/whl/cpu"
pxjlab "lightning>=2"  # Formerly `pytorch-lightning`
# NOTE: On MacOS, TF 2.5+ supports Metal GPUs
#   Source: https://www.tensorflow.org/install/gpu_plugins#available_devices
#   Setup: https://developer.apple.com/metal/tensorflow-plugin/
pxjlab "tensorflow>=2.5"
# pxjlab "tensorflow-cpu>=2"
pxjlab "flax>=0.6"
pxjlab "scikit-learn>=1"
pxjlab "pyro>=1"
pxjlab "transformers>=4"
pxjlab "spacy[lookups,transformers{{ if eq .osarch "darwin-arm64" }},apple{{ end }}]>=3"

# Generally useful tools to have on JupyterLab
pxjlab "requests>=2"
pxjlab "beautifulsoup4>=4"
pxjlab "jinja2>=3"
pxjlab "docker>=6"
pxjlab "tqdm>=4"

# Configuration
pxjlab "hydra-core>=1"
pxjlab "omegaconf>=2"

# Code Formatting
pxjlab "black[all]>=23"  # Includes Jupyter support
pxjlab "isort>=5"
pxjlab "pylint[all]>=2"
pxjlab "python-lsp-server>=1"
pxjlab "python-lsp-server[pylint]>=1"
unalias pxjlab
# endregion ###################################################################
