{{- $osid := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
  {{- $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $condaOS := .chezmoi.os -}}
{{- if eq $condaOS "darwin" }}
  {{- $condaOS = "osx" -}}
{{- end -}}

{{ $condaArch := .chezmoi.arch }}
{{- if (and (eq $condaOS "linux") (eq $condaArch "arm64")) -}}
  {{- $condaArch = "aarch64" -}}
{{- else if (eq $condaArch "amd64") -}}
  {{- $condaArch = "64" -}}
{{- end -}}

{{- $appdir := printf "%s/.local/opt" .chezmoi.homeDir -}}

encryption: "age"
age:
  passphrase: true

data:
  osid: {{ $osid | quote }}
  appdir:  {{ $appdir | quote }}
  cluster: {{ promptBool "On a compute cluster" false }}
  brew:
    path: "{{ $appdir }}/brew" 
    file: "{{ .chezmoi.homeDir }}/.config/{{ $osid }}.Brewfile"
    install: {{ promptBool "Install Homebrew" true }}
  macos:
    iterm:
      theme:
        dark: "Smoooooth"
        light: "Smoooooth"
  conda:
    subdir: {{ printf "%s-%s" $condaOS $condaArch | quote }}
    clean: {{ promptBool "Clear current conda installation" false }}
    path: "{{ $appdir }}/conda"
    install: {{ promptBool "Install Conda/Mamba" true }}
  cloudflared:
    homelab:
      rootname: "muchovej.net"
      user: "john"
      hostnames: ["redmatter", "section-31", "discovery", "starbase-01", "starbase-02"]

diff:
  exclude: 
    - "scripts"

