{{- $osid := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
  {{- $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $condaOS := .chezmoi.os -}}
{{- if eq $condaOS "darwin" }}
  {{- $condaOS = "osx" -}}
{{- end -}}

{{ $condaArch := .chezmoi.arch }}
{{- if (and (eq $condaOS "linux") (eq $condaArch "arm64")) -}}
  {{- $condaArch = "aarch64" -}}
{{- else if (eq $condaArch "amd64") -}}
  {{- $condaArch = "64" -}}
{{- end -}}

{{- $appdir := printf "%s/.local/opt" .chezmoi.homeDir -}}

# https://github.com/twpayne/dotfiles/blob/master/home/.chezmoi.toml.tmpl
{{- $ephemeral := false -}}
{{- $headless := false -}}
{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

encryption: "age"
age:
  passphrase: true

scriptEnv:
  N_PREFIX: "{{ $appdir }}/n"
  NVM_DIR: "{{ $appdir }}/nvm"
  PYENV_ROOT: "{{ $appdir }}/pyenv"
  DENO_ROOT: "{{ $appdir }}/deno"
  RUSTUP_HOME: "{{ $appdir }}/rustup"

data:
  osid: {{ $osid | quote }}
  appdir:  {{ $appdir | quote }}
  cluster: {{ promptBool "On a compute cluster" false }}
  brew:
    path: "{{ $appdir }}/brew" 
    file: "{{ .chezmoi.homeDir }}/.config/{{ $osid }}.Brewfile"
{{- if not $ephemeral -}}
    install: {{ promptBool "Install Homebrew" true }}
{{- else -}}
    install: false
{{- end -}}
  macos:
    iterm:
      theme:
        dark: "Smoooooth"
        light: "Smoooooth"
  conda:
    subdir: {{ printf "%s-%s" $condaOS $condaArch | quote }}
    clean: {{ promptBool "Clear current conda installation" false }}
    path: "{{ $appdir }}/conda"
    install: {{ promptBool "Install Conda/Mamba" true }}

  pyenv:
    prefix: "{{ $appdir }}/pyenv"
  juliaup:
    # prefix: "{{ $appdir }}/juliaup"  # desired prefix, but unsupported
    prefix: "{{ .chezmoi.homeDir }}/.juliaup"
  n:
    prefix: "{{ $appdir }}/n"
  nvm:
    prefix: "{{ $appdir }}/nvm"
  deno:
    prefix: "{{ $appdir }}/deno"
  cargo:
    prefix: "{{ $appdir }}/cargo"
  rustup:
    prefix: "{{ $appdir }}/rustup"

  cloudflared:
    homelab:
      rootname: "muchovej.net"
      user: "john"
      hostnames: ["redmatter", "section-31", "discovery", "starbase-01", "starbase-02"]

diff:
  exclude: 
    - "scripts"

