{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
  {{- $osid = printf "%s-%s" .chezmoi.os .chezmoid.osRelease.id -}}
{{- end -}}

encryption: "age"
age:
  passphrase: true

data:
  osid: {{ $osid | quote }}
  appdir:  "{{ .chezmoi.homeDir }}/.local/share"
  brewfile: "{{ .chezmoi.homeDir }}/.config/{{ .osid }}.Brewfile"
  macos:
    iterm:
      theme:
        dark: "Smoooooth"
        light: "Smoooooth"

diff:
  exclude: 
    - "scripts"

