.tmux.conf:
  type: "file"
  url: "https://github.com/gpakosz/.tmux/raw/master/.tmux.conf"
  exact: true
  refreshPeriod: "168h"

# region oh-my-zsh extras ###############################################################
.oh-my-zsh:
  type: "archive"
  url: "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
  exact: true
  stripComponents: 1
.local/oh-my-zsh/plugins/zsh-syntax-highlighting:
  type: "archive"
  url: "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"
.local/oh-my-zsh/plugins/zsh-history-substring-search:
  type: "archive"
  url: "https://github.com/zsh-users/zsh-history-substring-search/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"
.local/oh-my-zsh/plugins/zsh-autosuggestions:
  type: "archive"
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"
.local/oh-my-zsh/plugins/fast-syntax-highlighting:
  type: "archive"
  url: "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"
# endregion #############################################################################

.local/SpaceVim:
  type: "git-repo"
  url: "https://github.com/SpaceVim/SpaceVim.git"
  refreshPeriod: "168h"

# {{- if hasKey . "brew" }}
# .local/brew:
#   type: "git-repo"
#   url: "https://github.com/homebrew/brew.git"
#   refreshPeriod: "24h"
# {{- end }}

# .local/antidote:
#   type: "git-repo"
#   url: "https://github.com/mattmc3/antidote.git"
#   refreshPeriod: "168h"  # Refresh once a week

.local/doom-emacs:
  type: "git-repo"
  url: "https://github.com/hlissner/doom-emacs.git"
  refreshPeriod: "168h"

.local/spacemacs:
  type: "git-repo"
  url: "https://github.com/syl20bnr/spacemacs.git"
  refreshPeriod: "168h"

.emacs.d:
  type: "git-repo"
  url: "https://github.com/plexus/chemacs2.git"
  refreshPeriod: "168h"

{{- $starship_vendor_os := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-    $starship_vendor_os = "apple-darwin" }}
{{- else if eq .chezmoi.os "linux-amd64" }}
{{-   $getlibc := joinPath .chezmoi.sourcePath "getlibc.sh" }}
{{-   $libc := output $getlibc }}
{{-   if eq $libc "glibc" }}
{{-     $libc = "gnu" }}
{{-   else if eq $libc "musl" }}
{{-     $libc = "musl" }}
{{-   end }}
{{-   $starship_vendor_os = printf "unknown-linux-%s" $libc }}
{{- else if eq .chezmoi.os "linux-arm64" }}
{{-   $starship_vendor_os = "unknown-linux-musl" }}
{{- end }}

# {{- $fzfV := (gitHubLatestRelease "junegunn/fzf").TagName }}
# .local/bin/fzf:
#   type: "file"
#   url: "https://github.com/junegunn/fzf/releases/download/{{ $fzfV }}/fzf-{{ $fzfV }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz" 
#   executable: true
#   refreshPeriod: "168h"
#   filter:
#     command: "tar"
#     args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout", "fzf"]

.local/bin/starship:
  type: "file"
  url: "https://github.com/starship/starship/releases/latest/download/starship-{{ .arch.alt }}-{{ $starship_vendor_os }}.tar.gz" 
  executable: true
  refreshPeriod: "168h"
  filter:
    command: "tar"
    args: ["--extract", "--gzip", "--file", "/dev/stdin", "--to-stdout", "starship"]

.local/bin/direnv:
  type: "file"
  url: "https://github.com/direnv/direnv/releases/latest/download/direnv.{{ .osarch }}"
  executable: true
  refreshPeriod: "168h"

{{- $ghV := (gitHubLatestRelease "cli/cli").TagName | replace "v" "" }}
{{- $ghOS := .chezmoi.os }}
{{- if eq $ghOS "darwin" }}
{{-   $ghOS = "macOS" }}
{{- end }}
.local/bin/gh:
  type: "archive"
  url: "https://github.com/cli/cli/releases/latest/download/gh_{{ $ghV }}_{{ $ghOS }}_{{ .arch.id }}.tar.gz"
  refreshPeriod: "168h"
  stripComponents: 1
  exact: true
  include: ["bin/gh"]
.local/share/man/man1/gh:
  type: "archive"
  url: "https://github.com/cli/cli/releases/latest/download/gh_{{ $ghV }}_{{ $ghOS }}_{{ .arch.id }}.tar.gz"
  refreshPeriod: "168h"
  stripComponents: 3
  include: ["share/man/man1/*.1"]

{{- $asdfV := (gitHubLatestRelease "asdf-vm/asdf").TagName }}
.local/asdf:
  type: "archive"
  url: "https://github.com/asdf-vm/asdf/tarball/{{ $asdfV }}"
  refreshPeriod: "168h"

{{- $rcloneV := (gitHubLatestRelease "rclone/rclone").TagName }}
# TODO: Figure out how to avoid putting RClone into `~/.local/bin` to ensure it's an unused key...
.local/bin:
  type: "archive"
  # https://github.com/rclone/rclone/releases/download/v1.62.2/rclone-v1.62.2-osx-amd64.zip
  url: "https://github.com/rclone/rclone/releases/download/{{ $rcloneV }}/rclone-{{ $rcloneV }}-{{ .os.alt }}-{{ .arch.id }}.zip"
  refreshPeriod: "168h"
  include: ["*/rclone"]
  stripComponents: 1

{{- if and (eq .chezmoi.os "linux") (not .ephemeral) }}
# Pulled from https://github.com/twpayne/dotfiles/blob/master/home/.chezmoiexternal.toml#L23-L37
{{- $ageV := (gitHubLatestRelease "FiloSottile/age").TagName }}
.local/bin/age:
  type: "file"
  url: "https://github.com/FiloSottile/age/releases/download/{{ $ageV }}/age-{{ $ageV }}-{{ .os.id }}-{{ .arch.id }}.tar.gz"
  command: true
  filter:
    command: "tar"
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "age/age"]
.local/bin/age-keygen:
  type: "file"
  url: "https://github.com/FiloSottile/age/releases/download/{{ $ageV }}/age-{{ $ageV }}-{{ .os.id }}-{{ .arch.id }}.tar.gz"
  command: true
  filter:
    command: "tar"
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "age/age-keygen"]
{{- end }}

{{- $pyenvV := (gitHubLatestRelease "pyenv/pyenv").TagName }}
.local/pyenv:
  type: "archive"
  url: "https://github.com/pyenv/pyenv/archive/refs/tags/{{ $pyenvV }}.tar.gz"
  refreshPeriod: "168h"

{{- $juliaupV := (gitHubLatestRelease "JuliaLang/juliaup").TagName }}
.local/juliaup:
  type: "archive"
  url: "https://github.com/JuliaLang/juliaup/archive/refs/tags/{{ $juliaupV }}.tar.gz"
  refreshPeriod: "168h"

{{/* vim: set filetype=yaml.chezmoitmpl: sw=2 ts=2 et */}}
