LD_LIBRARY_PATH="/usr/lib64:/usr/lib"
PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"

{{- if (eq .chezmoi.os "darwin") -}}
export CLICOLOR=1
{{- end -}}

export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="${HOME}/.local/share"

export GOPATH="${XDG_DATA_HOME}/go"

[ -d "{{ .brew.path }}/bin" ] && PATH="{{ .brew.path }}/bin:${PATH}"
[ -d "{{ .brew.path }}/sbin" ] && PATH="{{ .brew.path }}/sbin:${PATH}"

PATH="${GOPATH}/bin:${PATH}"
PATH="${HOME}/.cargo/bin:${PATH}"

_conda="{{ .conda.path }}/etc/profile.d/conda.sh"
[ -f "${_conda}" ] && source "${_conda}"
unset _conda

_mamba="{{ .conda.path }}/etc/profile.d/conda.sh"
[ -f "${_mamba}" ] && source "${_mamba}"
unset _mamba

PATH="${HOME}/.local/bin:${PATH}"

[ -d /labs ] && PATH="/labs/bin:${PATH}"

export LD_LIBRARY_PATH

export LC_COLLATE=C

export DATA="${HOME}/Data"
export LOGS="${HOME}/Logs"

export EDITOR="vim"
export VISUAL="vim" # "emacsclient -nc"

export PATH

export _Z_DATA="${XDG_DATA_HOME}/z/data"
[ -d "$(dirname ${_Z_DATA})" ] || mkdir -p $(dirname ${_Z_DATA})
export _Z_OWNER=$(whoami)
export _Z_NO_RESOLVE_SYMLINKS="true"

export MAMBA_NO_BANNER="1"
