LD_LIBRARY_PATH="/usr/lib64:/usr/lib"
{{- if not .ephemeral }}
PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
{{- end }}

{{- if (eq .chezmoi.os "darwin") }}
export CLICOLOR=1
{{- end }}

export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="${HOME}/.local/share"

export GOPATH="${XDG_DATA_HOME}/go"

{{- if hasKey . "brew" }}
[ -d "{{ .brew.path }}/bin" ] && PATH="{{ .brew.path }}/bin:${PATH}"
[ -d "{{ .brew.path }}/sbin" ] && PATH="{{ .brew.path }}/sbin:${PATH}"
{{- end }}

PATH="${GOPATH}/bin:${PATH}"
PATH="${HOME}/.cargo/bin:${PATH}"

{{- if hasKey . "conda" }}
_conda="{{ .conda.path }}/etc/profile.d/conda.sh"
[ -f "${_conda}" ] && source "${_conda}"
unset _conda
{{- end }}

PATH="${HOME}/.local/bin:${PATH}"

[ -d /labs ] && PATH="/labs/bin:${PATH}"

export LD_LIBRARY_PATH

export LC_COLLATE=C

DATA="${HOME}/Data"
export DATA
LOGS="${HOME}/Logs"
export LOGS

{{- $editor := "" }}
{{- range $e := (list "nvim" "vim" "vi") }}
{{-   if lookPath $e }}
{{-     $editor = $e }}
{{-     break }}
{{-   end }}
{{- end }}
EDITOR={{ $editor | quote }}
export EDITOR

{{- $visual := "" }}
{{- range $v := (list "code" "nvim" "vim" "vi") }}
{{-   if lookPath $v }}
{{-     $visual = $v }}
{{-     break }}
{{-   end }}
{{- end }}
VISUAL={{ $visual | quote }}
export VISUAL

export PATH

export _Z_DATA="${XDG_DATA_HOME}/z/data"
[ -d "$(dirname ${_Z_DATA})" ] || mkdir -p $(dirname ${_Z_DATA})
export _Z_OWNER=$(whoami)
export _Z_NO_RESOLVE_SYMLINKS="true"

export MAMBA_NO_BANNER="1"
{{/* vim: set filetype=bash.chezmoitmpl: sw=2 ts=2 et */}}
