#!/usr/bin/env bash
# TODO determine what "minimal" install would look like and enable
# TODO on MacOS; @Darwain/dock.bash needs to determine if Flotato exists

#: Fail fast
# set -e

chezmoi cd
source dot_profile

quiet "mkdir ${APPDIR}"

setup_dir="${DOTS}/@setup"
#: Setup broken into different files to avoid file-congestion
for file in $(ls ${setup_dir}/??-*.*sh); do
    source dot_profile
    echo "Running: ${file}..."
    ${file} ${DOTS}
done


#: OS-specific setups
for file in $(ls ${setup_dir}/@$(uname)/??-*.*sh); do
    source dot_profile
    echo "Running: ${file}..."
    ${file} ${DOTS}
done

#: Try to ensure $SHELL will be zsh
echo "Changing shell..."
[ zsh ] && chsh -s $(which zsh) $(whoami)
