#!/usr/bin/env bash
# shellcheck disable=SC1054,SC1056,SC1072,SC1073,SC1083
{{- if hasKey . "conda" }}
{{- $condaPath := joinPath .appdir "conda" }}
set -e

echo "Running... \`conda-installer\`..."

# shellcheck disable=SC1009,SC1036
{{ $script := printf "Mambaforge-%s-%s.sh" (output "uname" | trim) (output "uname" "-m" | trim) }}
#: Setting up MambaForge
echo "  - Installing MambaForge..."
curl -L -O "https://github.com/conda-forge/miniforge/releases/latest/download/{{ $script }}"
bash {{ $script }} -b -u -p {{ $condaPath }}
rm {{ $script }}

export CONDA_ALWAYS_YES="true"

echo "  - Activate \`conda\`/\`mamba\`..."
source {{ $condaPath }}/etc/profile.d/conda.sh
source {{ $condaPath }}/etc/profile.d/mamba.sh
# https://conda.github.io/conda-libmamba-solver/getting-started/
# Ensure that the `libmamba` solver is installed
mamba install -q -n base -c conda-forge conda-libmamba-solver --solver classic

echo "- Installing base packages..."
mamba env update -q -n base -f {{ joinPath .chezmoi.homeDir ".config" "conda" "env.yaml" }}

unset CONDA_ALWAYS_YES
# shellcheck disable=SC1009
{{- end -}}
