{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash
sudo --reset-timestamp

# https://github.com/MikeMcQuaid/strap/blob/4e22ffb24fd2908f0060043c88f953d484262f33/bin/strap.sh#L187-L203
PAM_FILE="/etc/pam.d/sudo"
sudo chmod 644 "${PAM_FILE}"
START_LINE="# sudo: auth account password session"
sudo sed -i.bak -e \
  "s/$FIRST_LINE/$FIRST_LINE\n$TOUCHID_LINE/" \
  "$PAM_FILE"
sudo rm "$PAM_FILE.bak"

# Turn off Java for Safari
sudo defaults write com.apple.Safari \
  com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaEnabled \
  -bool false
sudo defaults write com.apple.Safari \
  com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaEnabledForLocalFiles \
  -bool false

# Instantly require password from sleep
sudo defaults write com.apple.screensaver askForPassword -int 1
sudo defaults write com.apple.screensaver askForPasswordDelay -int 0

# Enable the Firewall
sudo defaults write /Library/Preferences/com.apple.alf globalstate -int 1
sudo launchctl load /System/Library/LaunchDaemons/com.apple.alf.agent.plist 2>/dev/null
{{- end -}}
