#!/usr/bin/env bash
# shellcheck disable=SC1036,SC1054,SC1056,SC1072,SC1073,SC1083

{{- if and (not .ephemeral) (hasKey . "brew") }}
{{-   if eq .chezmoi.os "linux" }}
echo "Installing \`brew\` on Linux"
# Put .brew.install conditional here to prevent .brew.file from throwing an
#   error for not existing...
cd {{ joinPath .appdir "brew" | quote }}
git branch --set-upstream-to=origin/master $(git branch --show-current)

# {{ .os.id }}.Brewfile hash: {{ include .Brewfile | sha256sum }}
echo "- \`brew bundle\`"
./bin/brew bundle install --file {{ .Brewfile }}
# shellcheck disable=SC1009
{{-   else if eq .chezmoi.os "darwin" }}
echo "Installing \`brew\` on MacOS"
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
/opt/homebrew/bin/brew bundle install --file {{ .Brewfile }}
{{-   end }}
# shellcheck disable=SC1009
{{- end }}
