Include config.d/*

{{- if (or .personal .homelab) }}
Host 192.168.192.*
  IdentitiesOnly yes
  IdentityFile   ~/.ssh/1p-homelab.pub

Host git*
  IdentitiesOnly yes
  IdentityFile   ~/.ssh/1p-gitea.pub
  IdentityFile   ~/.ssh/1p-github.pub
  IdentityFile   ~/.ssh/1p-gitlab.pub
  IdentityFile   ~/.ssh/1p-bitbucket.pub
{{- end }}

Host *
  ForwardAgent yes
{{- if not (or .ephemeral .cluster) }}
  IdentityAgent ~/.1password/agent.sock
{{- end }}
{{- /* vim: set filetype=sshconfig.chezmoitmpl: sw=2 ts=2 et */}}
