#!/usr/bin/env bash
echo "Running... \`conda-installer\`..."

{{- if eq .chezmoi.os "darwin" }}
# Updating to install MiniForge, instead of Miniconda
echo "- Installing MiniForge..."
brew install miniforge

{{- else if eq .chezmoi.os "linux" }}

#: Setting up Miniconda
echo "- Installing Miniconda..."
url="https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh"
quiet "curl -fsSL -o ${HOME}/miniconda.sh ${url}"
chmod +x "${HOME}/miniconda.sh"
bash ${HOME}/miniconda.sh -b -p {{ .appdir }}/miniconda
rm "${HOME}/miniconda.sh"
{{ end -}}

echo "- Update conda \`base\` environment..."
source {{ .chezmoi.homeDir }}/.profile

conda install -c conda-forge mamba --yes

quiet "mamba env update -n base -f {{ .chezmoi.sourceDir }}/@setup/env.yml"
