auto_activate_base: true
auto_stack: 1
auto_update_conda: true
changeps1: false
show_channel_urls: true
add_pip_as_python_dependency: true
use_pip: true
env_prompt: ""

{{- if hasKey . "conda" -}}
{{- $condaPrefix := joinPath .appdir "conda" -}}
root_prefix: {{ $condaPrefix }}

create_default_packages:
  - python=3

default_python: 3.10

#! On `conda>=22.11`, we can now use `libmamba` as a solver!
#* Source: https://www.anaconda.com/blog/a-faster-conda-for-a-growing-community
# https://conda.github.io/conda-libmamba-solver/
solver: "libmamba"
notify_outdated_conda: true
path_conflict: clobber

unsatisfiable_hints: True
unsatisfiable_hints_check_depth: 2

channel_alias: https://conda.anaconda.org
channel_priority: flexible
channels:
  - "conda-forge"
default_channels:
  - "https://repo.anaconda.com/pkgs/main"
  - "https://repo.anaconda.com/pkgs/r"
whitelist_channels:
  - "conda-forge"
  - "javascript"

{{ $threads := output "nproc" -}}
default_threads: {{ $threads -}}
repodata_threads: {{ $threads -}}
verify_threads: {{ $threads -}}
execute_threads: {{ $threads -}}
{{/* vim: set filetype=yaml.chezmoitmpl: sw=2 ts=2 et */}}
{{- end -}}
